html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

//////////////////////////////////////////////////////////////////
//Definitions de variables
//////////////////////////////////////////////////////////////////

$loadedAnimationDuration:0.75s;
$loadedAnimationEase:cubic-bezier(0.770, 0.000, 0.175, 1.000);
$logoHoverAnimationDuration:0.5s; 
$logoHoverAnimationEase:cubic-bezier(0.165, 0.840, 0.440, 1.000);
$logoAnimationInDuration:0.25s;

//////////////////////////////////////////////////////////////////
//Mixins
//////////////////////////////////////////////////////////////////

@mixin twerk-anime {
  --s-twerk: 0.5px;

  animation: twerk 0.4s cubic-bezier(0.3, 0.7, 0, 1.5) both infinite;
}

@keyframes twerk {
  10%,
  90% {
    transform: translate3d(calc(var(--s-twerk) * -1), calc(var(--s-twerk) * 1), 0);
  }

  20%,
  80% {
    transform: translate3d(calc(var(--s-twerk) * -1), calc(var(--s-twerk) * 1), 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(calc(var(--s-twerk) * 1), calc(var(--s-twerk) * -1), 0);
  }

  40%,
  60% {
    transform: translate3d(calc(var(--s-twerk) * 1), calc(var(--s-twerk) * 1), 0);
  }
}



//////////////////////////////////////////////////////////////////
//General 
//////////////////////////////////////////////////////////////////
html{
	position:relative;
}
html, body{
	width:100%;
	height:100%;
	min-width:100%;
	min-height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

canvas{
	display:block;
}






//////////////////////////////////////////////////////////////////
//Styles
//////////////////////////////////////////////////////////////////

a{
	text-decoration:underline;
	color:#000000;
	font-weight:bold; 
	
	&:hover{
		color:#000;
	}
}

*{
	-webkit-tap-highlight-color: rgba(0,0,0, 0.1);
}





//////////////////////////////////////////////////////////////////
//Structure
//////////////////////////////////////////////////////////////////

::-webkit-selection { background: black; color: #fff; text-shadow: none; }
::-moz-selection { background: black; color: #fff; text-shadow: none; }
::selection { background: black; color: #fff; text-shadow: none; }


body{
	background-color:white;
	font-family:Helvetica, Arial, sans-serif;
}

.stage{
	width:100%;
	height:100%;
	
	&.loaded{
		.stage__container{
			opacity:1;
		}
		a:hover{
			img:nth-of-type(2){
				opacity:1;
			}
		}
		.stage__logo{
			opacity:1;
			transition-duration:$logoAnimationInDuration;
		}
	}
	&.loadedStart{
		.stage__logo{
			opacity:1;
		}
	}
}

.logo {
  --s-rotate: 0deg; // -45deg;
  --s-translateX: 0%; // -10% with rotation
  --s-translateY: -3%; // -10% with rotation
  --e-inout: cubic-bezier(0.77, 0, 0.175, 1); // quart

  $root: #{&};

  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: var(--s-gutter);
  left: var(--s-gutter);
  transform: translate(var(--s-translateX), var(--s-translateY));

  &__container {

	display: block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 170%;
      left: -38%;
      height: 150%;
      top: -25%;
      background-color: black;
      z-index: -1;
      transform: scaleY(0);
      transform-origin: top left;
      transition: transform var(--e-inout) 0.25s;

		#{$root}:hover & {
			transform: scaleY(1);
			transform-origin: bottom left;
		}
    }

    &::after {
      z-index: -2;
      background-color: transparent;
      transform: none;
    }

	&:hover {
		@include twerk-anime();
	}
  }

  &__el {
    display: block;
    height: var(--s-logo);
    width: auto;
    fill: var(--c-text);
    transform: rotate(var(--s-rotate));
    transform-origin: center center;
    transition: fill ease-out 0.2s, transform var(--e-inout) 0.35s;

	#{$root}:hover & {
		fill: white;
		transform: rotate(0deg);
	}
  }

  &__p1 {
    opacity: 0;
    transition: opacity ease-out 0.25s;

    #{$root}:hover & {
      opacity: 1;
    }
  }
}

.stage__container{
	position:relative;
	background-color:black;
	opacity:0;
	transition:opacity $loadedAnimationDuration $loadedAnimationEase;
}

.pagination{
	position:fixed;
	bottom:0;
}
.pagination__item{
	position: relative;
	display:block;
	font-size:0;
	width: 100%;
	margin-top:2px;
	overflow: hidden;
	
	&:focus{
		border:0;
		outline:0;
	}
	
	&.active{
		opacity:0.25;
		pointer-events:none;
	}
	
	&:after, 
	&:before {
		content:"";
		position: absolute; 
		display:block;
		top: 0; 
		bottom: 0; 
		left: 0; 
		right: 0; 
		background-color:#000000;
	}
	
	&:before {
		z-index: 2;
		top: 50%; 
		bottom: auto;
		height: 2px; 
		margin-top: -1px;
		background-color: black;
	}

	&:after {
		transform-origin: center center;
		transform: scaleY(0);
		transition: transform  0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		will-change: transform;
	}

	&:hover{
		@include twerk-anime();

		&:after{
			transform: scaleY(1);
		}
	}

	&.clicked {
		&:after{
			transform: scaleY(0);
			transition-delay: 0.65s;
		}
	}
}

.animation-03{
	.audioButton{
		a{
			font-size:0;
			position:absolute;
			width:41px;
			height:41px;
			top:16px;
			right:16px;
			border:1px solid rgba(255, 255, 255, 0.25);
			transition:border-color ease-out 0.25s, background-position cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.5s;
			background-image:url("../../images/s3_sound/sound_icon.svg");
			background-size:82px 82px;
			background-position:0 0;
			outline:0;
			
			&:hover{
				border-color:rgba(255, 255, 255, 1);
			}
			&.playing{
				background-position:-41px 0;
			}
			
			&.negative{
				border-color:rgba(0, 0, 0, 0.25);
				background-position:0 -41px;
				
				&:hover{
					border-color:rgba(0, 0, 0, 1);
				}
				&.playing{
					background-position:-41px -41px;
				}
			}
		}
	}
	.audioElement{
		display:none;
	}
}




//////////////////////////////////////////////////////////////////
//Media queries
//////////////////////////////////////////////////////////////////